body {
        background: rgb(156, 156, 216);
        font: normal 15pt Arial;
    }

header {
        color: white;
        text-align: center;
}

section {
    background: white;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 1px;
}

footer {
        color: white;
        text-align: center;
        font-style: italic;
}